
@helper When(DateTime date, bool showtime = false)
{
    TimeSpan span = DateTime.Now.Subtract(date);
    DateTime localTime = date; //date.Subtract(new TimeSpan((int)Session["TimeZoneOffset"], 0, 0));
    string lds = localTime.ToLongDateString();
    lds = char.ToUpper(lds[0]) + lds.Substring(1).ToLower();
    if (span.Days > 0)
    {
        if (showtime)
        {
            <span>@lds - @localTime.ToShortTimeString()</span>
        }
        else
        {

            <div title="@localTime.ToShortTimeString()">@lds&nbsp;</div>

        }
    }
    else
    {
        if (span.Hours >= 1)
        {
            <span>Il y a @span.Hours heures</span>
        }
        else
        {
            if (span.Minutes >= 1)
            {
                <span>Il y a @span.Minutes minutes</span>
            }
            else
            {
                <span>à l'instant</span>
            }
        }
    }
}

@helper YoutubePlayer(string youtubeId, string yt_class = "mediaPalyerBig")
{
    <iframe class="mediaPlayerBig"
            src="https://www.youtube.com/embed/@youtubeId"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen>
    </iframe>
}