@{
    List<string> users = DAL.DB.Medias.MediasUsers();
    string selectedUser = (string)Session["SelectedUser"];
}

<select id="usagerSelect" class="form-control">
    <option value="" selected>Touts les usagers</option>
    @foreach (var user in users)
    {
        string selected = selectedUser == user ? "selected" : "";
        <option value="@user" @selected>@user</option>
    }
</select>
